.sec11{
    width: 100%;
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ts{
        width: 1280px;
        height: 50px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        
        .hs{
            height: 40px;
            width: 50%;
            display: flex;
            align-items: start;
            justify-content: start;
            h2{
                font-size: 20px;
                line-height: 1.3px;
                font-weight: 500;
                font-family: 'Readex Pro', sans-serif;
                color: #002842;
            }
        }
        .vs{
            width: 50%;
            height: 50px;
            display: flex;
            align-items: start;
            justify-content: end;
           p{
            font-size: 14px;
            line-height: 1.6em;
            font-weight: 600;
            font-family: 'Readex Pro', sans-serif;
            color: #002842;
            cursor: pointer;
            i{
                font-size: 12px;
            }
           }
        }
    }
    .crs{
        width: 1280px;
        height: 464px;
        display: flex;
        justify-content: space-between;
        .cr{
            height: 100%;
            width: 405px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 18px;
            border: 1px solid#E6E6E6;
            &:hover img{
                transform: scale(1.2);
                transition: 1.30s cubic-bezier(.3,.42,.11,.97);
            }
            .pi{
                width: 100%;
                height: 267px;
                overflow: hidden;
                border-top-left-radius: 18px;
                border-top-right-radius: 18px;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    cursor: pointer;
                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
                }
            }
            .no{
                height: 26px;
            }
            .te{
                width: 345px;
                height: 130px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h5{
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.3em;
                    font-family: 'Readex Pro', sans-serif;
                    color: #002842;
                    transition: all .3s ease-in;
                    cursor: pointer;
                    &:hover{
                        text-decoration: .1px underline;
                        color: #002842;
                        
                    }
                }
                p{
                    font-family: 'Readex Pro', sans-serif;
                    font-size: 14px;
                    line-height: 1.6em;
                    color: #002842;
                }
            }
        }
    }
}