.sec9{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: center;
    .l{
        width: 1280px;
        height: 190px;
        display: flex;
        align-items: end;
        position: relative;
        img{
            object-fit: cover;
            z-index: 2;
            left: 0%;
            bottom: -.5%;
            width: 461px;
            position: absolute;
            border-bottom-left-radius: 18px;
        }
        .lin{
            width: 100%;
            height: 110px;
            display: flex;
            justify-content: space-between;
            background-color: #002842;
            border-radius: 18px;
            .ca{
                height: 100%;
                width: 535px;
                font-size: 45px;
                position: relative;
                i{
                    position: absolute;
                    right: 7%;
                    bottom: 3%;
                    color: #59606D;
                }
            }
            .te{
                height: 100%;
                width: 210px;
                display: flex;
                align-items: center;
                justify-content: center;
                h4{
                    color: #E5EEFF;
                    line-height: 1.2em;
                    font-size: 26px;
                    font-weight: bolder;
                    font-family: 'Fredoka', sans-serif;
                }
            }
            .li{
                height: 100%;
                width: 51px;
                display: flex;
                align-items: center;
                justify-content: end;
                div{
                    height: 60px;
                    width: 25.5px;
                    border-left: 1px solid #59606D;;
                }
            }
            .in{
                height: 100%;
                width: 313px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                p{
                    font-size: 13px;
                    line-height: 1.4em;
                    font-family: 'Readex Pro', sans-serif;
                    color: #E5EEFF;
                }
                span{
                    color: #E5EEFF;
                    font-size: 14px;
                    line-height: 1.6em;
                    font-family: 'Readex Pro', sans-serif;
                    font-weight: 500;
                    cursor: pointer;
                }
                i{
                    font-size: 35px;
                    position: absolute;
                    bottom: 1%;
                    left: 52%;
                    color: #59606D;
                }
                .paw{
                    position: absolute;
                    color: #59606D;
                    font-size: 55px;
                    top: 11%;
                    left: 0%;
                }

            }
            .n{
                width: 171px;
                height: 100%;
                position: relative;
                font-size: 40px;
                i{
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    color: #59606D;
                }
                .bo{
                    font-size: 40px;
                    position: absolute;
                    top: 40%;
                    left: 45%;
                    transform: rotate(140deg);
                    color: #E5EEFF;
                }
            }
        }
    }

}