@import 'header1.scss';
@import 'header2.scss';
@import 'sec1.scss';
@import 'sec2.scss';
@import 'sec3.scss';
@import 'sec4.scss';
@import 'sec5.scss';
@import 'sec6.scss';
@import 'sec7.scss';
@import 'sec8.scss';
@import 'sec9.scss';
@import 'sec10.scss';
@import 'sec11.scss';
@import 'sec12.scss';
@import 'footer.scss';

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
}
   